	<div class="video">
		<div class="title">
					<p><%= @featured.title %> | <span class="label"><%= @featured.category.title %></span></p>
		</div>
		<!-- Video -->
		<div class="embed">
			<%= raw @featured.video_embed_html %>
		</div>

		<div class="interview-description">
			<div class="social">
					<div class="twitter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= episode_url(@featured) %>" data-text='"<%= @featured.title %>" - <%= @featured.interviewee.name %> @' data-via="Nspire" data-hashtags="NspireTV" data-count="vertical">Tweet</a>
					</div>
					<div class="facebook">
						<div class="fb-like" data-href="<%= episode_url(@featured) || root_path %>" data-send="false" data-layout="box_count" data-width="50" data-show-faces="false" data-action="like"></div>
					</div>
					<!-- <a href="http://pinterest.com/pin/create/button/?url=<%= episode_url(@featured)%>&media=<%= @featured.video_thumbnail_url %>" class="pin-it-button" count-layout="vertical">Pin It</a> -->
				</div>				
			</div>

			<div class="description">
				<p><%= @featured.interviewee.name %> &mdash; <%= @featured.interviewee.position %> at <%= @featured.interviewee.company %></p>
			</div>						
			<div class="long-description">
				<p><%= @featured.description %></p>
			</div>

	</div>

	<div class="post-fold">
		<div class="comments">
			<p class="underlined">&nbsp;</P>
			<div class="fb-comments" data-href="<%= episode_url(@featured) %>" data-num-posts="2" data-width="800"></div>				
		</div>
	</div>

	<div class="episodes-indicator">
		<p><a href="#" onclick="$('html, body').animate({scrollTop: $('.comments').height()}, 800);">MORE</a></p>
	</div>

	<ul class="jcarousel-skin-tango" id="interviews">
		<% @episodes.each do |episode| %>
		<li class="episode">
			<div class='episode-image'>
			    <a href="<%= episode_url(episode) %>">
			    	<%= image_tag episode.video_thumbnail_url %>
			    </a>

			    <div class='episode-description'>
			        <div class='description_content'><%= episode.title %></div>
			    </div>
			</div>
		</li>
		<% end %>
	</ul>
