<!DOCTYPE html>
<html>
<head>
  <title>NspireTV</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="325287497523746"/>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <a class="brand" href="#">Project name</a> -->
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="http://nspire.org">Nspire</a></li>
          <li><a href="http://nbtc.ca">NBTC</a></li>
          <li><a href="http://discovery.nspire.org/">Discovery</a></li>
		      <li><a href="http://jot.nspire.org/">JOT</a></li>
		      <li><a href="http://nteract.nspire.org/">Nteract</a></li>
		      <li><a href="<%= root_url %>">Nspire TV</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <div class="inner-container">
  	<div class="row header">
  		<div class="span4 logo">
  			<a href="<%= root_path %>"><%= image_tag "logo.png" %></a>
  		</div>
<!--   		<div class="span7">
  			<h2>inspiring young leaders from around the world</h2>
  		</div> -->
  	</div>

    <!-- <%= image_tag "blue_seperator.png", :class => "seperator" %>  -->

  	<%= yield %>
  </div>

</div>

  <div class="footer">
      <p>Nspire TV &copy; 2012</p>
  </div>


<%= javascript_include_tag "http://typeface.neocracy.org/typeface-0.15.js" %>
<%= javascript_include_tag "application" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=325287497523746";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-8f8ebc7-c9e6-cbe4-9c75-97e1da98c557"}); </script>
</body>
</html>
