<!DOCTYPE html>
<html>
<head>
  <title>NspireTV</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <meta property="fb:app_id" content="325287497523746"/>
</head>
<body>
<div class="scroll-by-div"></div>
<div class="link-bar">
    <div class="links">
        <ul>
          <li><a href="http://nspire.org">Nspire</a></li>
          <li><a href="http://nbtc.ca">NBTC</a></li>
          <li><a href="http://discovery.nspire.org/">Discovery</a></li>
		      <li><a href="http://jot.nspire.org/">JOT</a></li>
		      <li><a href="http://nteract.nspire.org/">Nteract</a></li>
		      <li><a href="<%= root_url %>" class="tv">Nspire TV</a></li>
        </ul>
      </div>
</div>

<div class="container">
  <div class="inner-container">
  	<div class="header">
  			<a class="logo" href="<%= root_path %>"><%= image_tag "logo.png" %></a>
        <h3>Inspiring young leaders from around the world.</h3>
  		</div>
  	</div>

    <%= image_tag "blue_seperator.png", :class => "seperator" %>

  	<%= yield %>
  </div>

</div>

<div class="footer">
    <p>Nspire TV &copy; 2012</p>
</div>

<%= javascript_include_tag "application" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=325287497523746";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- <script type="text/javascript" src="http://assets.pinterest.com/js/pinit.js"></script>           -->
</body>
</html>
